@media(min-width:700px){

body{
	margin:0;
	padding:0;
	box-model:border-box;
}
.logo{
	margin:10px 0 0 0 0;
	background:#def4fa;
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.logo1{
	width:200px;
	filter:grayscale(10);
}
.container{
	width:90%;
	margin:auto;
	
}
.head h1{
	text-align:center;
}
.head p{
	text-align:center;
}
.container1{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
}
.item1{
	width:40%;
	
	text-align:center;
}
.item2{
	width:40%;
	
	text-align:center;
}
.item3{
	width:40%;
	
	text-align:center;
}
.container1 ion-icon{
	color:blue;
	padding:0 3px;
}
img{
	display:inline-block;
	width:150px;
	border-radius:50%;
	margin:20px 0;
}
.content-color{
	background:#d9fcfc;
	border-radius:5px;
	padding:20px 20px;
}
.radio{
	text-align:center;
}
ion-icon{
	display:inline-block;
	
}
}

@media(min-width:900px){

body{
	margin:0;
	padding:0;
	box-model:border-box;
}
.logo{
	margin:10px 0 0 0 0;
	background:#def4fa;
	width:100%;
	display:flex;
	justify-content:space-evenly;
}
.logo1{
	width:10%;
	filter:grayscale(10);
}
.container{
	width:90%;
	margin:auto;
	
}
.head h1{
	text-align:center;
}
.head p{
	text-align:center;
}
.container1{
	display:flex;
	justify-content:space-evenly;
}
.item1{
	width:30%;
	
	text-align:center;
}
.item2{
	width:30%;
	
	text-align:center;
}
.item3{
	width:30%;
	
	text-align:center;
}
.container1 ion-icon{
	color:blue;
	padding:0 3px;
}
img{
	display:inline-block;
	width:150px;
	border-radius:50%;
	margin:20px 0;
}
.content-color{
	background:#d9fcfc;
	border-radius:5px;
	padding:20px 20px;
}
.radio{
	text-align:center;
}
ion-icon{
	display:inline-block;
	
}
}


