@media(min-width:550px){
body{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
ul li{
	list-style-type:none;
	padding:10px 0;
	text-align:start;
}
ion-icon{
	display:inline-block;
	color:green;
	text-align:start;
}

section{
	width:100%;
	
}
.background{
	background:#f2eeed;
}
.ico ion-icon{
	display:inline-block;
	font-size:15px;
	color:#fff;
	padding:10px;
	background:#1babb5;
	border-radius:3px;
	margin:0 4px;
}
.container{
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	width:80%;
	margin:200px auto auto auto;
	
}
.item1{
	
	width:50%;
	
}
.item2{
	width:50%;
	
}
.item3{
	
	width:60%;
	
}
.item4{
	position:relative;
	
	width:40%;
	
}
input{
	
	display:inline-block;
	padding:8px 40px;
}
button{
	display:inline-block;
	position:absolute;
	padding:9px 30px;
	right:-22%;
	background:#1babb5;
	border:none;
	border-radius:3px;
	color:#fff;
}

.footer{
	text-align:center;
	background:#f7f7ed;
	padding:50px 0;
}
.fa-copyright{
	font-size:20px;
	color:#fff;
	background:black;
	border-radius:50%;
	margin:0 10px;
}
span{
	color:#1babb5;
}
}





@media(min-width:900px){
body{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
ul li{
	list-style-type:none;
	padding:10px 0;
	text-align:start;
}
ion-icon{
	display:inline-block;
	color:green;
	text-align:start;
}

section{
	width:100%;
	
}
.background{
	background:#f2eeed;
}
.ico ion-icon{
	display:inline-block;
	font-size:15px;
	color:#fff;
	padding:10px;
	background:#1babb5;
	border-radius:3px;
	margin:0 4px;
}
.container{
	display:flex;
	justify-content:space-evenly;
	width:80%;
	margin:200px auto auto auto;
	
}
.item1{
	text-align:start;
	width:20%;
	
}
.item2{

	text-align:start;
	width:20%;
	
}
.item3{
	text-align:start;
	width:20%;
	
}
.item4{
	position:relative;
	text-align:start;
	width:30%;
	
}
input{
	
	display:inline-block;
	padding:8px 40px;
}
button{
	display:inline-block;
	position:absolute;
	padding:9px 30px;
	right:20%;
	background:#1babb5;
	border:none;
	border-radius:3px;
	color:#fff;
}

.footer{
	text-align:center;
	background:#f7f7ed;
	padding:50px 0;
}
.fa-copyright{
	font-size:20px;
	color:#fff;
	background:black;
	border-radius:50%;
	margin:0 10px;
}
span{
	color:#1babb5;
}
}