@media(min-width:700px){
	.service{
	width:100%;
	text-align:center;
	margin:100px 0 0 0;
	
}
.service h1{
	color:
}
span{
	display:inline-block;
	font-size:40px;
	font-weight:800px;
	position:absolute;
	top:76px;
	left:38%;
	opacity:0.1;
}
.container{
	width:100%;
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	margin:40px 0 0 0;
}
.item{
	width:40%;
	
	margin:30px 0 0 0;
	text-align:center;
	padding:30px 0 0 0;
	
}
li{
	list-style-type:none;
	
}
ion-icon{
	display:inline-block;
	color:green;
	font-size:30px;
}
}



@media(min-width:992px){
.service{
	width:100%;
	text-align:center;
	margin:100px 0 0 0;
	
}
.service h1{
	color:
}
span{
	display:inline-block;
	font-size:40px;
	font-weight:800px;
	position:absolute;
	top:76px;
	left:41%;
	opacity:0.1;
}
.container{
	width:100%;
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	margin:40px 0 0 0;
}
.item{
	width:30%;
	
	height:200px;
	margin:30px 0 0 0;
	text-align:center;
	padding:30px 0 0 0;
	
}
li{
	list-style-type:none;
	
}
ion-icon{
	display:inline-block;
	color:green;
	font-size:30px;
}
}

@media(min-width:1200px){
	span{
	display:inline-block;
	font-size:40px;
	font-weight:800px;
	position:absolute;
	top:76px;
	left:43%;
	opacity:0.1;
}
}